{% extends "base.html" %}

{% block content %}
    <h2>About GetExchanged</h2>
    <p>GetExchanged is a web application, designed for the Databases and Information Systems course at the University of Copenhagen.</p>
    <p>It is built with Flask, a Python web framework. It is part of a project to qualify for the course exam.</p>
    <p>It provides a platform for students to explore and manage exchange agreements with partner universities.</p>
    <p>The idea behind the web app was to make a more user friendly and managable platform for students to access and share information about exchange opportunities.</p>
    <p>On GetExchanged, you can search for exchange agreements, read reports from previous exchange students, and share your own experiences by writing reports.</p>
    <p>On the homepage, you can also find a map of all the partner universities across the world, to easily explore where you can go on exchange.</p>
    <p>GetExchanged is meant as a project for a course, and not as a official platform. Use the offical UCPH exchange platform for accurate and up-to-date information.</p>
{% endblock %}