{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}
        <h2>Agreements</h2>
    {% endblock %}</h1>
{% endblock %}

{% block content %}
        <header>
            <h1>Agreements</h1>
        </header>
    {% for agreement in agreements %}
        <article class="agreement">
            <div class="card-container">
                    <a href="{{ url_for('agreements.agreement', id=agreement['id']) }}" class="agreement-card card">
                    <h3>{{agreement['institution']}}</h3>
                    <p>ID: {{agreement['id']}}</p>
                </a>
            </div>
        </article>
    {% endfor %}
{% endblock %}