{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}

<div class="profile-container">

    <!-- PROFILE CARD -->
    <div class="profile-card">

        <h1>Your Profile</h1>

        <p class="profile-subtitle">
            View your profile information.
        </p>

        <div class="profile-info">

            <div class="profile-field">
                <strong>Full name:</strong>
                <span>{{ g.user['full_name'] }}</span>
            </div>

            <div class="profile-field">
                <strong>KU ID:</strong>
                <span>{{ g.user['ku_id'] }}</span>
            </div>

            <div class="profile-field">
                <strong>Email:</strong>
                <span>{{ g.user['email'] }}</span>
            </div>

            <div class="profile-field">
                <strong>Study field:</strong>
                <span>{{ g.user['study_field'] }}</span>
            </div>

            <div class="profile-field">
                <strong>My status:</strong>
                <span>{{ g.user['status'] }}</span>
            </div>

        </div>
    </div>

    <div class="action-card">

        <h1>Manage Account</h1>

        <p class="action-subtitle">
            Manage your account information below.
        </p>

        <div class="profile-actions">

            <div class="action-field">
                <a href="{{ url_for('main.home') }}" class="btn primary-btn">
                    Go to the Homepage
                </a>
            </div>

            <div class="action-field">
                <a href="{{ url_for('main.my_applications') }}" class="btn primary-btn">
                    My Applications
                </a>
            </div>

            <div class="action-field">
                <a href="{{ url_for('main.my_reports') }}" class="btn primary-btn">
                    Saved Reports
                </a>
            </div>

            <div class="action-field">
                <a href="{{ url_for('main.edit_profile') }}" class="btn primary-btn">
                    Edit Profile
                </a>
            </div>

            <div class="action-field">
                <a href="{{ url_for('auth.logout') }}" class="btn logout-btn">
                    Logout
                </a>
            </div>

        </div>
    </div>

</div>

{% endblock %}